:root {
  --primary: #BBACC1;
  --secondary: #909580;
  --tertiary: #80727B;
  --dark: #545643;
  --light: #F1DEDE;

  --text: #2d2d2d;
  --radius: 1rem;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
  --font-family: 'Poppins', sans-serif;

  --transition-speed: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  background-color: var(--light);
  background-image: url("../assets/WomanDogPark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  

}

main {
  width: 100%;  /* Ensure full width */
  margin-top: 72px;  /* Push down by header height */
  margin-bottom: 20px;
  z-index: 1;
}

main h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--light);
  background-color: rgba(84, 86, 67, 0.7);;
  padding: 20px;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(187, 172, 193, 0.8);
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark);
  padding: .5rem;
  margin: 0;
  line-height: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  color: var(--dark);
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--light);
}

.nav-link.active {
  color: var(--light);
}
  
h1, h2, h3, h4 {
  font-weight: 600;
  color: var(--dark);
}
  
a {
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition);
}

a:hover {
  color: var(--tertiary);
}

button {
  background-color: rgba(187, 172, 193, 0.8);
  color: var(--light);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  background-color: var(--tertiary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.card {
  background-color: var(--secondary);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  transition: var(--transition);
  color: var(--light);
  font-size: 1.2rem;
}

.card:hover {
  transform: translateY(-5px);
}

/* Custom scrollbar for WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 10px;
  border: 2px solid var(--light);
  transition: background var(--transition-speed) ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary) rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    margin: 0;
  }
  
  .nav-link {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .header {
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    width: 100%;
    padding-bottom: 10px;
    font-size: 8.5vw;
    background-color: var(--primary);
    color: var(--tertiary);
    text-shadow: var(--secondary) 0 0 10px;
  }

  .navbar {
    padding: 0;
  }

  .nav-links {
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .navbar button a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
  }
}